body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: 'Times New Roman', Times, serif;
}

body,
html,
#root {
  /* background-color: #F5F0E6; */
  width: 100%;
  min-height: 100vh;
}